<template>

    <div>


        <v-tabs
                v-model="tabs"
                color="transparent"
                show-arrows
        >

            <v-tab href="#tab-networking" class="primary--text">
                <v-icon>phone</v-icon>
                <div>Networking</div>
            </v-tab>
            <v-tab href="#tab-containers" class="primary--text">
                <v-icon>favorite</v-icon>
                <div>Containers</div>
            </v-tab>
            <v-tab href="#tab-virtualization" class="primary--text">
                <v-icon>account_box</v-icon>
                <div>Virtualization</div>
            </v-tab>
            <v-tab href="#tab-python" class="primary--text">
                <v-icon>account_box</v-icon>
                <div>Python</div>
            </v-tab>
            <v-tab href="#tab-vuejs" class="primary--text">
                <v-icon>account_box</v-icon>
                <div>VueJS</div>
            </v-tab>
        </v-tabs>

        <v-tabs-items
            v-model="tabs">

            <v-tab-item
                id="tab-networking">

                <v-layout justify-center align-center>
                    <h2>Networking</h2>
                </v-layout>

            </v-tab-item>

            <v-tab-item
                    id="tab-containers">

                <v-layout justify-center align-center column>
                    <h2>Containers</h2>

                    Containers are envelope around a process.

                    <h2>Docker</h2>
                </v-layout>

            </v-tab-item>


        </v-tabs-items>

    </div>
</template>

<script>
export default {
  name: 'Experience',
  data () {
    return {
        tabs: ""
    }
  }
}
</script>

<style scoped>

    .d {
        background-color: aqua;
    }
</style>
