<template>



    <div class="full-page">


        <div class="text-rise">
            <p>
                These days, with the rise of Software Defined Networking (SDN), Automations and Cloud computing, we cannot only consider ourself a Networking guy or a Server guy nor a software developper. Being able to master all these areas means being a real added value for a company.
            </p>
        </div>




        <div class="my-background">
            <p>
                My programming background followed by a long carrer in networking operations added to my last 3 year of intense programming focus in Javascript and Python using CI/CD pipelines in a containerized environment gave me the ability to merge the networking. system and software together and being more than ready for the SDN and Cloud turn.
            </p>
        </div>

        <div class="bottom-page">
            .
        </div>


    </div>

</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
    }
  }
}
</script>

<style scoped>
    .text-rise {
        position: absolute;
        margin-left: 20%;
        margin-right: 20%;
        line-height: 2.5;
        text-align: justify;
        top: 40%;
    }

    .my-background {
        position: absolute;
        margin-left: 20%;
        margin-right: 20%;
        line-height: 2.5;
        text-align: justify;
        top: 140%;
    }

    .bottom-page {
        position: absolute;

        top: 300%;
    }
</style>
