<template>
    <v-app id="inspire">

        <v-content>
            <router-view></router-view>
        </v-content>

    </v-app>
</template>

<script>
    import Drawer from '@components/Drawer'

    export default {
        components: {Drawer},
        name: 'App'
    }
</script>

<style>

</style>
